

body {
    background: linear-gradient( #004aad, #00c6ff);
color: white;
font-family: 'Segoe UI', sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
}

.weather-widget {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 300px;
    text-align: center;
}

.weather-widget h2 {
    margin-bottom: 10px;
}

#weather-info h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

#weather-info p {
    margin: 4px 0;
    font-size: 1em;
}

input, button {
    margin-top: 15px;
    padding: 8px 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1em;
}

input {
    width: 50%;
}

button {
    background: #00c6ff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0099cc;
}

