#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: red !important;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card {
 display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  font-size: 1.5rem;
}
.smile-1 {
  color: #ff0000;
  font-size: 10rem;
  cursor: pointer;
}
